<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<sessionState
        mode="InProc"
        timeout="60" />-->
  </system.web>

  <connectionStrings>
    <!--CONNECTION STRING PARA PRUEBAS LOCALES-->
    
    <!---->
    <add name="SCA-HConnectionString" connectionString="Data Source=stoniness\SQLEXPRESS;Initial Catalog=SCA-H;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
  <!--CONNECTION STRING SERVIDOR DE BASE DE DATOS EN SOMEE
    <add name="SCA-HConnectionString" connectionString="workstation id=DBSCAHUTPP.mssql.somee.com;packet size=4096;user id=gibranamparan_SQLLogin_1;pwd=password1;data source=DBSCAHUTPP.mssql.somee.com;persist security info=False;initial catalog=DBSCAHUTPP"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
</configuration>